<!-- Voy a renderizar la tabla si esta tiene datos -->
<!-- Si el array personas es diferente a 0, entonces que renderice -->


<% if(productos.length !== 0) { %>
<div class="table-responsive">

  <!-- <button 
  type="button"
  id="borrar" 
  class="btn btn-success mt-3 mb-5"
  >Borrar Tabla</button> -->


  <table class="table table-dark">
    <tr style="color: yellow">
      <th>Producto</th>
      <th>Precio</th>
      <th>Vista Previa</th>
    </tr>

    <!-- Ciclo for -> Para que por cada indice que haya en productos, genere un registro -->
    <% for (const producto in productos ) { %>
    <tr>
      <!-- productos indice equivale a cada indice -->
      <td><%= productos[producto].title %></td>
      <td><%= productos[producto].price %></td>
      <td><%= productos[producto].thumbnail %></td>
    </tr>
    <!-- Cierro la etiqueta del if -->
    <% } %>
  </table>
</div>
<!-- Si no hay datos en la tabla, que diga que no hay datos -->
<% } else{ %>
<h3 style="color: black">no existen datos</h3>
<% }%>
