<% if(productos.length !== 0) { %>
<!-- Incluyo el partial creado para el header a traves de include el encabezado.ejs -->
<header><%- include('../partials/header.ejs') %></header>


<div class="container mt-3">
    <div class="jumbotron">
      <button id="enviar" class="btn btn-success mt-3 mb-5">volver</button>
    <!-- Voy a renderizar la tabla si esta tiene datos -->
    <!-- Si el array productos es diferente a 0, entonces que renderice -->
    <div class="table-responsive">
      <table class="table table-dark">
        <tr style="color: yellow">
          <th>Producto</th>
          <th>Precio</th>
          <th>Vista Previa</th>
        </tr>

        <!-- Ciclo for -> Para que por cada indice que haya en productos, genere un registro -->
        <% for (const producto in productos ) { %>
        <tr>
          <!-- productos indice equivale a cada indice -->
          <td><%= productos[producto].title %></td>
          <td><%= productos[producto].price %></td>
          <td><%= productos[producto].thumbnail %></td>
        </tr>
        <!-- Cierro la etiqueta del if -->
        <% } %>
      </table>
    </div>
    <!-- Si no hay datos en la tabla, que diga que no hay datos -->
    <% } else{ %>
    <h3 style="color: black">no existen datos</h3>
    <% }%>
  </div>
</div>
