<!-- Incluyo el partial creado para el header a traves de include el encabezado.ejs -->
<header><%- include('./partials/header.ejs') %></header>

<!-- Incluyo el partial creado para la tabla a traves de include el tabla.ejs -->
<h2 style="color: crimson">Historial</h2>


